.chats-container {
  width: 921px;
  height: 855px;
  margin-left: 25.5%;

  display: flex;
  flex-direction: row;

  .left-container {
    background-color: #26282b;
    width: 300px;

    .list-panel {
      background-color: #313335;
      width: 100%;
      height: 30px;
    }

    .chats-list-container {
      .empty-messages-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          background-color: #9b9b9b87;
          border-radius: 15%;
        }

        a {
          color: white;
        }
      }

      .chat-option-body {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-items: flex-start;
        position: relative;
        .chat-changer {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }

        #left-container {
          .chats-ico {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        #right-container {
          margin-left: 5px;

          .chat-info {
            .chat-name {
              width: 160;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: white;
              font-size: 20px;
            }
          }
          .chat-last-message {
            width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
            font-size: 12px;
          }
        }
      }
    }
  }

  .middle-container {
    position: relative;
    width: 100%;
    .list-panel {
      background-color: #313335;
      width: 100%;
      height: 30px;
    }

    .message-container {
      margin-left: 12px;
      overflow-y: scroll;
      height: 92%;
      padding-bottom: 15px;

      .message-body {
        display: flex;
        flex-direction: row;
        position: relative;

        &:hover {
          background-color: #ffffff05;
          .message-control-container {
            display: flex;
          }
        }

        .message-control-container {
          display: none;
          flex-direction: row;
          align-items: center;
          position: absolute;
          top: 5px;
          right: 5px;

          #deleteIco {
            width: 15px;
            height: 15px;
          }
          #editIco {
            width: 22px;
            height: 20px;
          }
          #answerIco {
            width: 22px;
            height: 20px;
          }
        }

        #avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        #content {
          margin-left: 8px;
          display: flex;
          flex-direction: column;

          .answer-body{
            display: flex;
            flex-direction: row;
            width: 100%;

            .answer-message{
              margin-left: 8px;
              .answer-author{
                
                color: white;
              }
              .answer-text{
                color: white;
              }
            }
            .line{
              width: 0px;
              height: 100%;
              border-radius: 15px;
              border: 2px #ad3939 solid;
            }
          }

          .info {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .author {
              color: #ffffff;
              font-size: 20px;
            }
            .time {
              margin-left: 10px;
              color: white;
              font-size: 11px;
            }
            .edit{
              margin-left: 5px;
              width: 15px;
              height: 15px;
            }
          }

          .message-data {
            .message-text {
              color: white;
            }
          }
        }
      }
    }
  }
  .message-input-container {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(57, 54, 57);
    position: absolute;
    bottom: 0;

    .reply-container {
      display: flex;
      flex-direction: row;
      position: relative;
      border-radius: 25px;

      .answer-close{
        position: absolute;
        top: 5px;
        right: 5px;
        #cancel-button{
          width: 15px;
          height: 15px;
        }
      }
      .answer-decor {
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        width: 35px;

        #answerIco {
          margin-top: 7px;
          width: 30px;
          height: 30px;
        }
        .border-colorline {
          width: 5px;
          margin-left: 5px;
          border-radius: 15px;
          border-right: 4px #ad3939 solid;
        }
      }
      .anser-message {
        margin-left: 10px;
        display: flex;
        flex-direction: column;

        .user-to-reply{
          color: white
        }
        .text-from-reply-message{
          color: white;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .message-top-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      #input {
        width: -webkit-fill-available;
        margin-bottom: 5px;
        margin-left: 10px;
        background: none;
        border: none;
        font: inherit;
        padding: 0;
        outline: 0;
        color: white;
        max-height: 250px;
        overflow-y: scroll;

        &:empty::after {
          content: attr(placeholder);
        }
      }
      .send-message-button {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
