.profile-container {
  margin-left: 25.5%;
  width: 921px;
  height: auto;
  display: flex;
  justify-self: center;
  .profile {
    display: flex;
    background-color: #2a2e34;

    .about-user {
      border: #3c3f43 3px solid;
      width: 100%;
      height: auto;
      position: relative;
      background-color: #26282b;

      .edit-profile {
        top: 250px;
        right: 35px;
        position: absolute;
        border-radius: 29px;
        border: solid 3px rgb(115, 59, 59);

        #edit-profile-flow {
          padding: 10px 30px 10px 30px;
          background-color: transparent;

          .text {
            color: white;
            font-size: 20px;
          }
        }
      }

      .baner {
        width: 915px;
        height: 230px;
        background-color: black;
      }

      .avatar {
        z-index: 5;
        top: 130px;
        left: 40px;
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 4px #2a2e34 solid;
      }

      .creditial {
        margin-left: 25px;
        margin-top: 90px;
        width: auto;
        display: flex;
        flex-direction: column;

        .user-not-found {
          width: 100%;
          height: auto;
          position: relative;
          background-color: #26282b;
          display: flex;
          align-items: center;
          flex-direction: column;
          color: white;

          #userNotFound-img {
            width: 280px;
            height: 420px;
          }
        }

        #nickname {
          font-size: 30px;
          color: white;
        }
        #username {
          color: rgb(106, 101, 101);
        }
      }
      .bio {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
        padding-bottom: 15px;
        color: white;
      }
    }
  }
}

.posts-container {
  margin-left: 25.5%;
  width: 921px;
  height: auto;

  .posts {
    background-color: #2a2e34;
    border-left: #3c3f43 3px solid;
    border-right: #3c3f43 3px solid;
    border-bottom: #3c3f43 3px solid;

    .post-header {
      color: white;
      padding-bottom: 10px;
      background-color: #26282b;
      font-size: 25px;

      border-bottom: #3c3f43 3px solid;
      a {
        margin-left: 20px;
      }
    }

    .post-create {
    }

    .posts-content {
      width: 100%;
      height: auto;
      display: flex;
      position: relative;
      background-color: #26282b;
      display: flex;
      flex-direction: column;

      .media-container-body{
        width: fit-content;
        height: 100%;
    
        .media-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            
            &:not(:empty){
                border: #3c3f43 3px solid;
                box-sizing: border-box;
            }
    
            .row-1{
                display:flex;
                max-width: 800px;
                overflow: hidden;
            .media{
                position: relative;
    
                #close-button{
                    top: 5px;
                    left: 5px;
                    position: absolute;
                    width: 21px;
                    height: 20px;
                    background-color: transparent;
                    background-color: rgba(255, 255, 255, 0.426);
                    border-radius: 15px;
    
                    #close-img{
                        width: 10px;
                        height: 10px;
    
                        
                    }
                }
                
                .mediaContent{
                    max-width: 284px;
                    max-height: 600px;
                    height: 350px;
                    object-fit: cover;
                }
            }
        }
    
        .row-2{
            display:flex;
            max-width: 800px;
            overflow: hidden;
        .media{
            position: relative;
            #close-button{
                top: 5px;
                left: 5px;
                position: absolute;
                width: 21px;
                height: 20px;
                background-color: transparent;
                background-color: rgba(255, 255, 255, 0.426);
                border-radius: 15px;
    
                #close-img{
                    width: 10px;
                    height: 10px;
    
                    
                }
            }
            .mediaContent{
                max-width: 284px;
                height: 350px;
                object-fit: cover;
            }
        }
    }
        }
    }
    
    .body-container {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
       
        }

        .post-view{
            border: #3c3f43 3px solid;
            display: flex;
            .left-corner{
                height: 100%;
                .userAvatar{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
    
            .middle-corner{
                
                margin-left: 5px;
    
    
                .sound-container-body{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .sound-container{
                        display: flex;
                        width: 300px;
                        height: 50px;
                        background-color: #37383b;
                        align-items: center;
    
                        #sound{
                            margin: 0 !important;
                            width: 0;
                            height: 0;
                        }
    
                        .middle-control{
                            margin-left: 5px;
                            width: -webkit-fill-available;
                            height: -webkit-fill-available;
                            position: relative;
                            height: inherit;
                            display: flex;
                            align-items: center;
    
                            .soundName{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                position: absolute;
                                top: 4px;
                                height: 20px;
                                width: 100%;
                                color: whitesmoke;
                            }
    
                            .timeline-container{
                                margin-top: 6px;
                                position: relative;
                                width: 94%;
                                height: 5px;
                                border-radius: 15px;
                                overflow: hidden;
    
    
                                .timeline-bufer{
                                    position: absolute;
                                    height: 5px;
                                    background-color: rgb(88, 88, 88);
                                }
                                .timeline-curent{
                                    position: absolute;
                                    height: 5px;
                                    background-color: rgb(181, 8, 28);
                                }
    
                                .timeline-background{
                                    position: absolute;
                                    width: 100%;
                                    height: 5px;
                                    background-color: rgb(214, 214, 214);
                                }
                            }
                        }
    
                        .left-control{
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            margin-left: 3px;
    
                            .duration{
                                color: whitesmoke;
                            }
                            
                            .play-control{
                                display: flex;
                                position: relative;
                                align-items: center;
                                justify-content: center;
    
                                #svg-button{
                                    position: absolute;
                                    width: 20px;
                                    height: 20px;
                                    fill: whitesmoke;
    
                                    #play-svg{
                                        
                                    }
                                }
                                
    
                                #play-button{
                                    padding: 0;
                                    z-index: 2;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    background-color: transparent;
                                }
                            }
                        }
                        
                    }
                }   
    
                .post-content-container{

                  .dokoaplayer-container{
                    position: relative;
                  }

                    .post-text{
                        #text{
                            color:white;
                            width: 800px;
                            background-color: transparent;
                            border: none;
                            height: fit-content;
                            outline: inherit;
                            resize: vertical;
    
                            &:empty:not(:focus)::before {
                                content: attr(placeholder);
                                color: rgb(225, 225, 225);
                            }
                        }
    
                    }
                }
    
                .about-author{
    
                    .top{
                        display: flex;
                        .author{
                            color:white;
                        }
    
                        .time{
                            padding-left: 5px;
                            color:white;
                        }
                    }
                }
            }
        }
    
    }
    }
  }

