.piko-menu{
  display: flex;
  position: fixed;
  width: 25.5%;
  height: 100%;
  justify-content: flex-end;

  .piko-options{
    display: flex;
    width: 265px;
    flex-direction: column;

    #button3{
      .icon{
        height: 40px;
        width: 40px;
        padding: 10px;
      }
    }

    #button2{
      .icon{
        height: 60px;
        width: 60px;
      }
    }

    .piko-option-container{
      margin-top: 8px;
      display: grid;
      grid-template-columns: 70px 1fr;
      width: 100%;
      height: 65px;
      background-color: transparent;
      align-items: center;
      justify-items: start;

        .userAvatar{
          border-radius: 50%;
          height: 60px;
          width: 60px;
        }

        .text{
          color: white;
          font-size: 20px;
          margin-left: 5px;
          
        }
    }
  }
}